@define-color white #c0caf5;
@define-color base #1a1b26;
@define-color text #c0caf5;
@define-color blue #7aa2f7;
@define-color overlay0 #565f89;
@define-color surface0 #292e42;
@define-color green #9ece6a;
@define-color yellow #e0af68;
@define-color red #f7768e;
@define-color surface1 #3b4261;
@define-color shadow rgba(0, 0, 0, 0.3);
