@define-color white #f8f8f2;
@define-color base #282a36;
@define-color text #f8f8f2;
@define-color blue #8be9fd;
@define-color overlay0 #6272a4;
@define-color surface0 #44475a;
@define-color green #50fa7b;
@define-color yellow #f1fa8c;
@define-color red #ff5555;
@define-color surface1 #6272a4;
@define-color shadow rgba(0, 0, 0, 0.3);
