* {
    background:     #191724;
    background-alt: #26233a;
    foreground:     #e0def4;
    selected:       #9ccfd8;
    selected-text:  #191724;
    active:         #31748f;
    urgent:         #eb6f92;
    border:         #403d52;
    dim:            #6e6a86;
}
