* {
    background:     #100F0F;
    background-alt: #282726;
    foreground:     #CECDC3;
    selected:       #4385BE;
    selected-text:  #100F0F;
    active:         #879A39;
    urgent:         #AF3029;
    border:         #343331;
    dim:            #878580;
}
