@define-color white #CECDC3;
@define-color base #100F0F;
@define-color text #CECDC3;
@define-color blue #4385BE;
@define-color overlay0 #878580;
@define-color surface0 #282726;
@define-color green #879A39;
@define-color yellow #D0A215;
@define-color red #AF3029;
@define-color surface1 #343331;
@define-color shadow rgba(0, 0, 0, 0.3);
